.footer-copyright {
  color: #ffffff
}
.footer-socials {
  color: #ffffff
}
.footer-socials-gitbook {
  color: #ffffff
}
.footer-socials-github {
  color: #ffffff
}
.footer-socials-x {
  color: #ffffff
}
